services:
  battlecottage_api:
    build:
      context: .
    restart: unless-stopped
    networks:
      - reverse_proxy

  battlecottage_db:
    image: postgres:latest
    volumes:
      - db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: database_password
      POSTGRES_DB: battlecottage
    ports:
      - 6543:5432
    networks:
      - reverse_proxy
    restart: always

  battlecottage_client:
    build:
      context: ./client
    networks:
      - reverse_proxy
    volumes:
      - battlecottage_static:/app/.next/static
      - battlecottage_public:/public
    restart: unless-stopped

  battlecottage_cdn:
    build:
      context: ./client/nginx
    networks:
      - reverse_proxy
    volumes:
      - battlecottage_static:/.next/static
      - battlecottage_public:/public
    restart: unless-stopped

volumes:
  db:
  battlecottage_static:
  battlecottage_public:

networks:
  reverse_proxy:
    external: true
