services:
  battlecottage_api:
    build:
      context: .
    restart: unless-stopped
    networks:
      - reverse_proxy
    depends_on:
      - battlecottage_db

  battlecottage_db:
    image: postgres:latest
    volumes:
      - battlecottage_db:/var/lib/postgresql/data/
    ports:
      - 6543:5432
    environment:
      POSTGRES_PASSWORD: database_password
      POSTGRES_DB: battlecottage
    networks:
      - reverse_proxy
    restart: always

  battlecottage_client:
    build:
      context: ./client
    expose:
      - 3000
    networks:
      - reverse_proxy
    volumes:
      - battlecottage_static:/app/.next/static
      - battlecottage_public:/app/public
    restart: unless-stopped

  battlecottage_cdn:
    build:
      context: ./cdn
    networks:
      - reverse_proxy
    volumes:
      - battlecottage_static:/.next/static
      - battlecottage_public:/public
    restart: unless-stopped
    depends_on:
      - battlecottage_client

volumes:
  battlecottage_db:
  battlecottage_static:
  battlecottage_public:

networks:
  reverse_proxy:
    external: true
