@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/app/styles/custom.css';
@import '@/app/styles/buttons.css';
@import '@/app/styles/cards.css';
@import '@/app/styles/forms.css';
@import '@/app/styles/navbar.css';
@import '@/app/styles/inputs.css';
@import '@/app/styles/containers.css';

:root {
  --palette-water-blue: #0078d7;
  --palette-ebony-clay: #1f2e45;
  --palette-ebony-clay-35: #1f2e4559;
  --palette-light-burgundy: #ae445a;
  --palette-light-burgundy-35: #712c3a;
  --palette-mid-grey: #575e6b;
  --palette-dark-grey: #2b2f35;
  --palette-darkest-grey: #202328;
  --palette-light-grey: #a8aeb8;
  --palette-dark-jungle-green: #1b1f27;
  --palette-baltic-sea: #292c32;
  --palette-black-65: #000000a6;
  --palette-black-50: #00000080;
  --palette-black-20: #00000033;
  --text-light: #e7e7e7;
  --error: #f44336;
}

html {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  height: auto;
  color: var(--text-light);
  background-image: linear-gradient(
    to bottom,
    #121212,
    #17171b,
    #1b1c24,
    #1e212d,
    #1f2637,
    #24293f,
    #2b2c46,
    #332f4d,
    #452e4f,
    #562c4c,
    #652b45,
    #712c3a
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.main {
  @apply flex h-full min-h-screen w-full flex-col font-roboto;
}

.gradient-1 {
  background-image: linear-gradient(to left top, #1b1f27, #1a1c22, #18181c, #151517, #121212);
}

.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    #121212,
    #17171b,
    #1b1c24,
    #1e212d,
    #1f2637,
    #24293f,
    #2b2c46,
    #332f4d,
    #452e4f
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gradient-text {
  @apply bg-gradient-to-r from-[var(--palette-light-burgundy-35)] to-[var(--palette-light-burgundy)] bg-clip-text text-transparent;
}

.curved-underline {
  @apply relative mr-4;
}

.curved-underline::after {
  content: '';
  @apply absolute bottom-0 left-0 h-1 w-full rounded-[50%] border-2 border-solid border-red-600;
  border-color: var(--palette-light-burgundy-35) transparent transparent transparent;
}
